@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
  touch-action: none;
  user-select: none;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
.video-mirror { transform: scaleX(-1); }
.bg-pattern {
  background-color: #fffbeb;
  background-image: radial-gradient(#fcd34d 2px, transparent 2px);
  background-size: 30px 30px;
}
.btn-bouncy:active {
  transform: translateY(2px);
  box-shadow: 0 0px 0 0;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
.animate-float { animation: float 3s ease-in-out infinite; }
